@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'My Font';
  src: url('/fonts/Montserrat.woff2') format('woff2');
}

@font-face {
  font-family: 'My Font2';
  src: url('/fonts/Montserrat2.woff2') format('woff2');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 5px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  /* Background color of the track */
  /* Rounded corners */
}

::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  /* Color of the scrollbar thumb */
  border-radius: 10px;
  /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #d3d3d3;
  /* Color on hover */
}


@keyframes scaleIn {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.animate-scaleIn {
  animation: scaleIn 0.3s ease forwards;
}

.hardShadow {
  box-shadow: 3px 3px #ff667f;
}
.hardShadow2 {
  box-shadow: 3px 3px #bb9fe2;
}
.hardShadowGreen {
  box-shadow: 3px 3px #16a34a;
}
.CardShadow {
  box-shadow: 0 0 40px -10px rgb(50 50 93/31%);
}

.bigText {

  color: white; /* Light transparent color */
  font-weight: 900; /* Bold for thickness */
  text-transform: uppercase; /* For all uppercase letters */
  text-shadow: 
                2px 2px 4px rgba(0, 0, 0, 0.3), /* Bottom-right light shadow */
                -2px -2px 4px rgba(255, 255, 255, 0.5), /* Top-left lighter shadow to simulate depth */
                inset 0px 4px 8px rgba(0, 0, 0, 0.5);
  position: relative;
}
                            
  .depth {
    display: block;
    padding: 50px;
    color:#00000012;
    position: relative;
  }
  
  .depth:before,
  .depth:after {
    content: attr(title);
    padding: 50px;
    color: rgba(255, 255, 255, .1);
    position: absolute;
  }
  
  .depth:before {
    top: 1px;
    left: 1px
  }
  
  .depth:after {
    top: 2px;
    left: 2px
  }
  .insiteFont span,
  .insiteFont p,
  .insiteFont a,
  .insiteFont strong
   {
    font-size: 25px !important;
    font-weight: 200;
  }