@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'My Font';
  src: url('/fonts/Montserrat.woff2') format('woff2');
}

@font-face {
  font-family: 'My Font2';
  src: url('/fonts/Montserrat2.woff2') format('woff2');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 5px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  /* Background color of the track */
  /* Rounded corners */
}

::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  /* Color of the scrollbar thumb */
  border-radius: 10px;
  /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #d3d3d3;
  /* Color on hover */
}


@keyframes scaleIn {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.animate-scaleIn {
  animation: scaleIn 0.3s ease forwards;
}